.eventos {
  width: 95%;
  margin: 20px 30px;
}

.eventos-title {
  color: black;
  text-align: left; // 🔥 lo alinea a la izquierda
  margin-left: 2rem; // espacio desde el borde
  margin-top: 2rem;
  font-size: 30px;
  text-transform: uppercase;
}
