.whatsapp-button {
  position: fixed; // Lo deja flotante
  bottom: 20px;    // Cambia si lo quieres en otro lugar
  left: 20px;
  width: 160px;
  height: 160px;
  display: block;
  z-index: 1000;
  cursor: pointer;
}

.whatsapp-bg {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50px;
}

.whatsapp-icon {
  position: absolute;
  top: 45%;
  left: 70%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.whatsapp-button:hover .whatsapp-icon {
  transform: translate(-50%, -50%) scale(1.1);
}