.topBar {
  width: 100vw;
  height: 5vh;
  padding:20px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  h1 {
    color: #ffffff;
    font-size: .8rem;
    margin: 0;
    text-align: center;
	text-transform: uppercase;
  }
}
